body{

	background-color: #a4c9d8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

body nav p {
    margin-right: calc( 50% - 225px );
    padding-bottom: 15px;
    padding-top: 15px;
}

body nav {
    font-family: 'Balsamiq Sans', cursive;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid blue; */
    margin: 20px 0px 10px 0px;
    padding: 0px 5px 0px 5px;
    background-color: #f2eeeeed;
}

.bt {
    /* position: fixed; */
    font-family: 'Balsamiq Sans', cursive;
    background-color: #f2eeeeed;
    padding: 10px 60px 10px 60px;
    margin-right: 3px;
    /* border-color: #f2eeeeed; */
    border-style: none;
    font-size: medium;
}

.bt:hover {
    border: 4px;
    border-color: rgb(196, 196, 196);
    border-bottom-style: dashed;
    border-top-style: dashed;
    cursor: pointer;
}

body section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    /* padding-right: 25%;
    padding-left: 25%; */
    flex-wrap: wrap;
    /* border: 1px solid black; */
    background-color: transparent
}

body section .divtexto {
    width: 450px;
    /* height: 230px; --> tirei pra ficar responsivo... */
    font-family: 'Balsamiq Sans', cursive;
    /* padding-right: 375px; */
    /* border: 1px solid black; */
    background-color: rgb(236, 230, 230);

}
body section .divimg {
    width: 380px;
    /* height: 230px; --> tirei pra ficar responsivo... */
    font-family: 'Balsamiq Sans', cursive;
    /* padding-right: 375px; */
    /* border: 1px solid black; */
    background-color: rgb(236, 230, 230);

}

body section div p {
    padding: 10px 10px 10px 10px;
}

body section div h1  {
    margin: 10px 10px 5px 10px;
}

body section div img {
    padding: 10px 10px 10px 10px;
}

body section .divimginver {
    order: 1;
    width: 380px;
    /* height: 230px; --> tirei pra ficar responsivo... */
    font-family: 'Balsamiq Sans', cursive;
    /* padding-right: 375px; */
    /* border: 1px solid black; */
    background-color: rgb(236, 230, 230);

}

body section .divtextoinver {
    order: 2;
    width: 450px;
    /* height: 230px; --> tirei pra ficar responsivo... */
    font-family: 'Balsamiq Sans', cursive;
    /* padding-right: 375px; */
    /* border: 1px solid black; */
    background-color: rgb(236, 230, 230);

}

@media screen and ( max-width: 500px) {
    body nav {
        font-family: 'Balsamiq Sans', cursive;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        /* border: 1px solid blue; */
        margin: 20px 0px 10px 0px;
        padding: 0px 5px 0px 5px;
        /* background-color: #f2eeeeed; */
    }
    
    .bt {
        /* position: fixed; */
        font-family: 'Balsamiq Sans', cursive;
        /* background-color: #f2eeeeed; */
        padding: 10px 60px 10px 60px;
        /* border-color: #f2eeeeed; */
        border-style: none;
        font-size: medium;
    }
    
    .bt:hover {
        border: 2px;
        border-color: rgb(196, 196, 196);
        border-left-style: dashed;
        border-right-style: dashed;
        cursor: pointer;
    }

    body nav p {
        display: none;
    }
}