body{
    width:auto;
    height:auto;
    background-color: black;
    margin:0;
    padding: 0;
}
.container{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
h1{
    color:white;
    padding-left:2em;
    padding-top:.5em;
}
.barra{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1d3269;
    padding-top:.1em;
    padding-bottom:.1em;
    height: 5em;
    padding-left:0;
    padding-right:0;
}
.barra ul{
    display:flex;
    width:100%
}
.barra ul li{
    list-style-type: none;
    padding-left:10em;
}
li .nav-link{
    cursor:pointer;
    color:white;
    display: flex;
    padding:0;
    max-width: 100%;
    padding:0;
}
.mundo{
    width:100%;
    height:100%;
}
ul{
    padding:0;
}
video{
    width: 100%;
    height:30em;
}
a:hover{
    background-color:rgba(253, 253, 253, 0.486);
    color: white;
}
button{
    font-size:1em;
    border-left:1em black;
}

h6{
    color:white;
    font-size:small;
    margin-left:1em;
}
h2{
    color:white;
    margin-left:.5em;
    margin-top:.5em;
}
p{
    margin:1em;
    color:white;
}
@media(max-width:880px){
    .barra{
        display:none;
        flex-direction:column-reverse
    }
}
