body {background-color: rgb(233, 222, 226);

}
h1 {color: rgb(94, 49, 94);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h2 {color: rgb(94, 49, 94);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
h3 {color: rgb(94, 49, 94);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {color: rgb(94, 49, 94);
    font-family: initial;
}
a{
    text-align: center;
}
